* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 115%;
}
header {
    position: fixed;
    width: 100%;
    text-align: top;
}

title {
    color: yellowgreen;
    width: 100%;
    top: 0;
    float: left;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 25px;
}

h1 {
    color: yellowgreen;
    background-color: beige;
    text-align: center;
    font-size: larger;
    width: 100%;
    margin-top: 20px;
}

#furniture {
    text-align: center;
}

ul {
    text-align: right;
}

li {
    display: inline;
    color: yellowgreen;
    font-size: 20px;
}

h2 {

}

body {
color:white; background-color: green;}
#universal {

}

.class1 {
    background-color: beige;
color: black;
text-align: center;
}

#logo {
    height: 200px;
    width: 200px;
    border-radius: 200px;
}

.class2 {
    text-align: center;
}

a {
    color: yellowgreen;
}

#ewwfeet {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: lightslategray; color: black;
    font-weight: bolder;
    border: solid black;
    position: center;
    margin: auto 0;
}

#contact {
    height: 100px;
    text-align: center;
    display: block;
}

img {
    width: 350px;
    height: 350px;
    border: 5px solid black;
    margin: 20px;
}

p {
    font-size: larger;
    font-weight: bold;
    color: black;
}

strong {
    color: white;
}