* {
    font-size: 26px;
}

header {
    height: 100%;
    width: 100%;
    background-color: rgb(186, 186, 149);
    color: black;
    font-weight: bolder;
    border: solid black;
    position: center;
    margin-bottom: 30px;
}

/* .links {
    grid-column-start: 5;
    grid-column-end: 6;
    padding: 25px;;
    } */

.links li {
    position: relative;
    list-style: none;
}

a {
    color: brown;
}

#logo {
    width: 1000px;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 2;
}

h1 {
    grid-column-start: 3;
    grid-column-end: 4;
    margin: 90px;
    font-size: 50px;
}

h2 {
    color: white;
    margin: 20px;
}


#intro {
    text-align: center;
}

#furniture {
    text-align: center;
}

.category {

color: black;
text-align: center;
background-color: rgb(186, 186, 149);
padding: 30px;
margin-top: 30px;
border: solid 3px black;

}

#logo {
    height: 200px;
    width: 200px;
    border-radius: 200px;
}

#footer {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgb(186, 186, 149);
    color: black;
    font-weight: bolder;
    border: solid black;
    position: center;
    margin: 0;
}

#contact {
    height: 100px;
    text-align: center;
    display: block;
}

img {
    width: 350px;
    height: 350px;
    border: 3px solid black;
    margin: 20px;
}


p {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: white;
}

@media (max-width: 768px) {
    #logo {
        display: none;
    }

    .JSW {
        display: flex;
        justify-content: flex-start;
        padding: 0;
        margin: 20px;
    }
}